# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Credentials
*.env
*.key
**/keys/* 
lta-caravailability-a3190b400d81.json
orchestration/airflow-dataflow/keys/airflow-dataflow-key.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Logs
*.log

# Local development
.DS_Store
.idea/
.vscode/
carpark_postgres_data/pg_stat_tmp/